*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .upper, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 5px;
}
.hero{
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upper .hero {
    font-size: 18px;
    color: #E5E7EB;
    padding: 200px 0;
    gap: 50px;
}
.upper .hero .words {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upper .hero .words h1{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}
.upper .hero .words button, button{
    background-color: #3882F6;
    padding: 10px 30px;
    border:none;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    border-radius: 12px;
    width: 150px;
    cursor: pointer;
}
.upper .hero .image{
    padding: 150px 300px;
    color: #F9FAF8;
    /* background-color: #6d747d; */
    background-image: url('images/upper.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.header .logo{
    font-size: 24px;  
    font-weight: bold;
}

.header .header-links ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.header .header-links ul a{
    text-decoration: none;
    color: white;
}

.info .hero{
    flex-direction: column;
    margin-bottom: 150px;
}
.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 80px auto;
}
.info-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.card .card-image{
    width: 180px;
    height: 180px;
    background-color: white;
    border: 5px solid #3882F6;
    border-radius: 12px;
}

.card .card-image.milktea{
    background-image: url('images/milk_tea.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.card .card-image.videogames{
    background-image: url('images/video_games.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.card .card-image.books{
    background-image: url('images/books.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.card .card-image.food{
    background-image: url('images/food.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.card .card-info{
    width: 200px;
    font-size: 20px;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote .hero{
    padding: 150px 0;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quote .hero .quote-words{
    font-size: 38px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quote .hero .quote-person{    
    font-size: 24px;  
    font-weight: bold;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.action {
    margin: 150px auto;
}

.action .hero{
    background-color: #3882F6;
    padding: 75px 150px;
    border-radius: 12px;
    color: #F9FAF8;
}
.action .hero .action-words p{
    font-size: 22px;
    color: #E5E7EB;
}
.action .hero .action-words h2{
    font-size: 30px;
}

.action .hero .action-button button{
    border: 3px solid white;
}

.footer .hero{
    padding: 20px 0;
}

.footer .hero .copyright{
    font-size: 24px;
    margin: 0 auto;
}